<div>
  <div class="ui raised segments" style="width:90%; margin: 50px 800px 20px 100px;">
    <div class="ui segment">

      <h2>Data as of: {{ today| date:'medium' }}</h2>
      <button *ngIf="!check" class="ui massive right floated loading button"></button>
      <button *ngIf="check" class="ui massive right floated compact icon button" (click)="refresh()">
             <i class="refresh icon"></i>
          </button>
      <br><br><br>
      <table class="ui large ver padded fixed violet table">
        <thead>
          <tr>
            <th class="ten wide">
              <h1>Request status</h1>
            </th>
            <th class="three wide">
              <h1>Membership</h1>
            </th>
          </tr>
        </thead>
        <tbody>
          <div *ngFor="let catagory of categoriesStatus">
            <status [catagory.name]="catagory.name" [catagory.numOfTxs]="catagory.numOfTxs" [catagory.totalAmount]="catagory.totalAmount"
              [numberOfTransactions]="numberOfTransactions" [totalAmount]="totalAmount"></status>
          </div>

        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
      </table>

      <p></p>
      <button class="massive ui button right floated button">
        <!-- style=" margin: 50px 100px 100px 100px;"> -->
          Send selected status
        </button>
      <br><br><br>
      <div></div>

    </div>
  </div>
</div>