<div>
<table class="ui inverted table purple" style="width:80%; margin: 50px 800px 20px 100px;">
        <thead>
          <tr><th class="ten wide"><h2>Request status</h2> </th>
          <th class="three wide"><h2>Membership</h2></th>
        </tr></thead>
        <tbody>
          <tr>
            <td> <h2>Paid</h2>
              <status></status></td>
            <td><cake></cake></td>
          </tr>
          <tr>
              <td> <h2>Paid</h2>
                <status></status></td>
              <td><cake></cake></td>
          </tr>
          <tr>
              <td> <h2>Paid</h2>
                <status></status></td>
              <td><cake></cake></td>
          </tr>
        </tbody>
        <tfoot>
          <tr><th>3 People</th>
          <th>2 Approved</th>
        </tr></tfoot>
      </table>

      <button class="massive ui button right floated button" style=" margin: 50px 100px 100px 100px;">
          Send selcted status
        </button>
        <br><br><br>
        <div></div>

</div>