<div>
  <div class="ui raised segments" style="width:90%; margin: 50px 800px 20px 100px;">
    <div class="ui segment">

        <h2>Data as of</h2>
        <button class="ui massive right floated compact icon button">
            <i class="refresh icon"></i>
          </button>
      <br><br><br>
      <table class="ui large ver padded fixed violet table">
        <thead>
          <tr>
            <th class="ten wide">
              <h1>Request status</h1>
            </th>
            <th class="three wide">
              <h1>Membership{{lala}}</h1>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <h2><br>Paid</h2>
              <status></status>
            </td>
            <td>
              <cake></cake>
            </td>
          </tr>
          <tr>
            <td>
              <h2>Paid</h2>
              <status></status>
            </td>
            <td>
              <cake></cake>
            </td>
          </tr>
          <tr>
            <td>
              <h2>Paid</h2>
              <status></status>
            </td>
            <td>
              <cake></cake>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
      </table>

      <p></p>
      <button class="massive ui button right floated button">
        <!-- style=" margin: 50px 100px 100px 100px;"> -->
          Send selcted status
        </button>
      <br><br><br>
      <div></div>

    </div>
  </div>
</div>