<div>
<div class="ui raised segments" style="width:87%; margin: 50px 800px 20px 100px;">
        <!-- style="width:80%; margin: 50px 800px 700px 100px;" -->
    <div class="ui segment">

        <div class="ui form">
            <div class="inline fields">
                <div class="one wide field">
                </div>
                <div class="eight wide field">
                    <label><h4>Upload date</h4></label>
                    <input type="text" placeholder="">
                </div>
                <div class="eight wide field">
                    <label><h4>Execution date</h4></label>
                    <input type="text" placeholder="">
                </div>
            </div>
        </div>

        <div class="ui form">
            <div class="inline fields">
                <div class="one wide field">
                    
                </div>
                <div class="five wide field">

                </div>
                <div class="eight wide field">

                </div>
            </div>
        </div>

        <div class="ui form">
            <div class="inline fields">
                <div class="one wide field">

                </div>
                <div class="eight wide field">
                    <label><h4>Number of transactions</h4></label>
                    <input type="text" placeholder="">
                </div>
                <div class="eight wide field">
                    <label><h4>Total amount</h4></label>
                    <input type="text" placeholder="">
                </div>
            </div>
        </div>
        <div class="ui form">
            <div class="inline fields">
                <div class="one wide field">
                </div>
                <div class="eight wide field">
  
                </div>
                <div class="eight wide field">
                        <i class="check circle icon big big green"></i>
                    <button class="ui button left ">Submit requests</button>
                    
                    <p> </p>
                                  
                </div>
            </div>
        </div>
    </div>
</div>
</div>

