<div class="ui raised segments" style="width:80%; margin: 50px 800px 700px 100px;">
    <div class="ui segment">

        <div class="ui form">
            <div class="inline fields">
                <div class="one wide field">
                </div>
                <div class="eight wide field">
                    <label>Upload date</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="eight wide field">
                    <label>Execution date</label>
                    <input type="text" placeholder="First Name">
                </div>
            </div>
        </div>

        <div class="ui form">
            <div class="inline fields">
                <div class="one wide field">
                    <i class="check circle icon big big green"></i>
                </div>
                <div class="five wide field">

                </div>
                <div class="eight wide field">

                </div>
            </div>
        </div>

        <div class="ui form">
            <div class="inline fields">
                <div class="one wide field">

                </div>
                <div class="eight wide field">
                    <label>Number of transactions</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="eight wide field">
                    <label>Total amount</label>
                    <input type="text" placeholder="First Name">
                </div>
            </div>
        </div>
        <div class="ui form">
            <div class="inline fields">
                <div class="one wide field">
                </div>
                <div class="eight wide field">
  
                </div>
                <div class="eight wide field">
                    <button class="ui button ">Submit requests</button>
                            
                                  
                </div>
            </div>
        </div>
    </div>
</div>