<div class="ui raised segments" style="width:90%; margin: 50px 800px 20px 100px;">
  <div class="ui segment">
    <div class="ui grid">
      <div class="four wide column"></div>
      <div class="four wide column"></div>
      <div class="four wide column"></div>
      <div class="four wide column"></div>
      <div class="two wide column"></div>
      <div class="eight wide column"></div>
      <div class="six wide column"></div>
    </div>

    <table class="ui large ver padded fixed violet table">
      <tbody>
        <tr>
          <td>
            <h2>Upload date{{helpService.helpServiceId}}</h2>
          </td>
          <td>

              <div class="ui segment">
                <h2><b>{{uploadDate}}</b></h2>
              </div>

          </td>
          <td>
            <h2>Execution date</h2>
          </td>
          <td>
            <div class="ui segment">
              <h2><b>{{executionDate}}</b></h2>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <h2>Number of transactions</h2>
          </td>
          <td>
            <div class="ui segment">
              <h2><b>{{numberOfTransactions}}</b></h2>
            </div>
          </td>
          <td>
            <h2>Total amount</h2>
          </td>
          <td>
            <div class="ui segment">
              <h2><b>{{totalAmount}}</b></h2>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <h2></h2>
          </td>
          <td>
            <h2></h2>
          </td>
          <td>
            <h2></h2>
          </td>
          <td>

            <i  *ngIf="!submitResponse" class="check circle icon  big green"></i>
            <i  *ngIf="submitResponse" class="remove Circle icon  big grey"></i>
              <button *ngIf="!submitResponse" class="ui big button left" (click)="bulkSubmit()"><h2>Submit requests</h2></button>
              <button *ngIf="submitResponse" class="ui  disabled big button left" (click)="bulkSubmit()"><h2>Submit requests</h2></button>
              
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

 <!-- <div>
  <div class="ui raised segments" style="width:87%; margin: 50px 800px 20px 100px;">
    <!-- style="width:80%; margin: 50px 800px 700px 100px;" -->
    <!-- <div class="ui segment">

      <div class="ui form">
        <div class="inline fields">
          <div class="one wide field">
          </div>
          <div class="eight wide field">
            <label><h4>Upload date</h4></label>
            <input type="text" placeholder="">
          </div>
          <div class="eight wide field">
            <label><h4>Execution date</h4></label>
            <input type="text" placeholder="">
          </div>
        </div>
      </div> -->

      <!-- <div class="ui form">
        <div class="inline fields">
          <div class="one wide field">

          </div>
          <div class="five wide field">

          </div>
          <div class="eight wide field">

          </div>
        </div>
      </div>

      <div class="ui form">
        <div class="inline fields">
          <div class="one wide field">

          </div>
          <div class="eight wide field">
            <label><h4>Number of transactions</h4></label>
            <input type="text" placeholder="">
          </div>
          <div class="eight wide field">
            <label><h4>Total amount</h4></label>
            <input type="text" placeholder="">
          </div>
        </div>
      </div>
      <div class="ui form">
        <div class="inline fields">
          <div class="one wide field">
          </div>
          <div class="eight wide field">

          </div>
          <div class="eight wide field">
            <i class="check circle icon big big green"></i>
            <button class="ui button left ">Submit requests</button>

            <p> </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
